#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Ellipse_255 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Ellipse_256 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_293 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}