#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Ellipse_255 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Ellipse_256 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Panel_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_422 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_431 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Ellipse_61 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Ellipse_62 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Ellipse_63 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Ellipse_64 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_448 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_71 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_293 {
  -ms-transform: rotate(0.0deg);
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0484ad37-6fe5-429c-87a5-d007469ee49c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}