#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_61 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Rectangle_25 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_422 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_431 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Ellipse_61 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Ellipse_62 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Ellipse_63 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Ellipse_64 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_448 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_71 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Check-box_1 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Check-box {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Check-box_2 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Check-box_3 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Check-box_4 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Check-box_5 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Check-box_6 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_72 {
  -ms-transform: rotate(0.0deg);
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-17516981-8750-466e-8ae3-d897f5545021 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}