#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Check-box_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Check-box {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Check-box_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Check-box_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Check-box_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Check-box_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Check-box_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-17516981-8750-466e-8ae3-d897f5545021 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-17516981-8750-466e-8ae3-d897f5545021 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}