#s-1b7cec65-897e-446e-80f0-8735d48f2b47 #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DEB854;
  -ms-transform: rotate(0.0deg);
}
#s-1b7cec65-897e-446e-80f0-8735d48f2b47 #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-1b7cec65-897e-446e-80f0-8735d48f2b47 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1b7cec65-897e-446e-80f0-8735d48f2b47 #s-Label_422 {
  -ms-transform: rotate(0.0deg);
}
#s-1b7cec65-897e-446e-80f0-8735d48f2b47 #s-Label_431 {
  -ms-transform: rotate(0.0deg);
}
#s-1b7cec65-897e-446e-80f0-8735d48f2b47 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-1b7cec65-897e-446e-80f0-8735d48f2b47 #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1b7cec65-897e-446e-80f0-8735d48f2b47 #s-Ellipse_61 {
  -ms-transform: rotate(0.0deg);
}
#s-1b7cec65-897e-446e-80f0-8735d48f2b47 #s-Ellipse_62 {
  -ms-transform: rotate(0.0deg);
}
#s-1b7cec65-897e-446e-80f0-8735d48f2b47 #s-Ellipse_63 {
  -ms-transform: rotate(0.0deg);
}
#s-1b7cec65-897e-446e-80f0-8735d48f2b47 #s-Ellipse_64 {
  -ms-transform: rotate(0.0deg);
}
#s-1b7cec65-897e-446e-80f0-8735d48f2b47 #s-Label_448 {
  -ms-transform: rotate(0.0deg);
}
#s-1b7cec65-897e-446e-80f0-8735d48f2b47 #s-Label_71 {
  -ms-transform: rotate(0.0deg);
}
#s-1b7cec65-897e-446e-80f0-8735d48f2b47 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1b7cec65-897e-446e-80f0-8735d48f2b47 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1b7cec65-897e-446e-80f0-8735d48f2b47 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}