#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}