#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DEB854;
  -ms-transform: rotate(0.0deg);
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Label_422 {
  -ms-transform: rotate(0.0deg);
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Label_431 {
  -ms-transform: rotate(0.0deg);
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Ellipse_61 {
  -ms-transform: rotate(0.0deg);
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Ellipse_62 {
  -ms-transform: rotate(0.0deg);
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Ellipse_63 {
  -ms-transform: rotate(0.0deg);
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Ellipse_64 {
  -ms-transform: rotate(0.0deg);
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Label_448 {
  -ms-transform: rotate(0.0deg);
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Label_71 {
  -ms-transform: rotate(0.0deg);
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1d5436db-8a86-4fa9-b2a6-6ae2776410ba > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}