#s-2019ecf7-f47a-4038-8209-e7c723faeac0 #s-Button-black {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2019ecf7-f47a-4038-8209-e7c723faeac0 #s-Button-black_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2019ecf7-f47a-4038-8209-e7c723faeac0 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2019ecf7-f47a-4038-8209-e7c723faeac0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}