#s-2019ecf7-f47a-4038-8209-e7c723faeac0 #s-Panel_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 256px;
  height: 135px;
}
#s-2019ecf7-f47a-4038-8209-e7c723faeac0 #s-Button-black {
  -ms-transform: rotate(0.0deg);
}
#s-2019ecf7-f47a-4038-8209-e7c723faeac0 #s-Button-black_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 99px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-2019ecf7-f47a-4038-8209-e7c723faeac0 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-2019ecf7-f47a-4038-8209-e7c723faeac0 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2019ecf7-f47a-4038-8209-e7c723faeac0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}