#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-476fd328-7c81-4abf-bba4-f429220bc0fc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}