#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Button-black {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Label_245 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Check-box {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b #s-Label_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-52e69561-0333-4e9e-9fe0-5115051a7f5b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}