#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Callout_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Line_2 {
  rotation: 270.0;
  margin-left: 94px;
  margin-top: -95px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Callout_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Callout_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Button-black_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label-blue_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label-blue_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label-blue_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Button-black_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_273 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_274 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Label_275 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-plus-green {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-85a5bfeb-fbf6-4f6e-b0bf-f08da6e18d84 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}