#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}