#s-87d7a29e-31cd-4052-8c71-996a2be79430 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Header-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 64px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Rich_text_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 63px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_87 {
  position: absolute;
  top: 28px;
  left: 91px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_87 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_87 span#rtr-s-Label_87_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Group_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 20px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Rectangle_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_422 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_422 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_422 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_422 span#rtr-s-Label_422_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_431 {
  position: absolute;
  top: 5px;
  left: 253px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_431 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_431 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_431 span#rtr-s-Label_431_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_35 {
  position: absolute;
  top: 0px;
  left: 121px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_35 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_35 span#rtr-s-Label_35_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Group_35 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_12 .content {
  width: 6px;
  height: 6px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_12 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #shapewrapper-s-Ellipse_12 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_61 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_61 .content {
  width: 6px;
  height: 6px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_61 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #shapewrapper-s-Ellipse_61 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #shapewrapper-s-Ellipse_61 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #shapewrapper-s-Ellipse_61 span#rtr-s-Ellipse_61_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_62 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_62 .content {
  width: 6px;
  height: 6px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_62 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #shapewrapper-s-Ellipse_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #shapewrapper-s-Ellipse_62 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #shapewrapper-s-Ellipse_62 span#rtr-s-Ellipse_62_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_63 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_63 .content {
  width: 6px;
  height: 6px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_63 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #shapewrapper-s-Ellipse_63 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #shapewrapper-s-Ellipse_63 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #shapewrapper-s-Ellipse_63 span#rtr-s-Ellipse_63_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_64 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_64 .content {
  width: 6px;
  height: 6px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Ellipse_64 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #shapewrapper-s-Ellipse_64 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #shapewrapper-s-Ellipse_64 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #shapewrapper-s-Ellipse_64 span#rtr-s-Ellipse_64_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_448 {
  position: absolute;
  top: 0px;
  left: 288px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_448 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_448 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_448 span#rtr-s-Label_448_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_71 {
  position: absolute;
  top: 0px;
  left: 251px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_71 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_71 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_71 span#rtr-s-Label_71_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_291 {
  position: absolute;
  top: 29px;
  left: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_291 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_291 span#rtr-s-Label_291_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 64px;
  left: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Panel_1 {
  width: 320px;
  height: 451px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Line_1 {
  position: absolute;
  top: 121px;
  left: 0px;
  width: 320px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Line_2 {
  position: absolute;
  top: 180px;
  left: 0px;
  width: 320px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_5 {
  position: absolute;
  top: 74px;
  left: 38px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_6 {
  position: absolute;
  top: 92px;
  left: 38px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_21 {
  position: absolute;
  top: 75px;
  left: 3px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_21 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_21 span#rtr-s-Label_21_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_7 {
  position: absolute;
  top: 133px;
  left: 37px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_7 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_8 {
  position: absolute;
  top: 149px;
  left: 37px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_8 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_8 span#rtr-s-Label_8_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_8 span#rtr-s-Label_8_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_22 {
  position: absolute;
  top: 133px;
  left: 3px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_22 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Label_22 span#rtr-s-Label_22_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Input-text {
  position: absolute;
  top: 520px;
  left: 7px;
  padding-left: 18px;
  width: 218px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  box-shadow: none;
  text-shadow: none;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Input-text .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Input-text input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Button_1 {
  position: absolute;
  top: 526px;
  left: 255px;
  width: 49px;
  height: 23px;
  background-color: #3D6BFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3D6BFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3D6BFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3D6BFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3D6BFF;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Button_1 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-87d7a29e-31cd-4052-8c71-996a2be79430 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}