#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Label_422 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Label_431 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Ellipse_61 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Ellipse_62 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Ellipse_63 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Ellipse_64 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Label_448 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Label_71 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Label_72 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Label_293 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Label_73 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Panel_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9f920400-b7d5-431f-a170-641d17fb38d8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}