#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Image_7 {
  position: absolute;
  top: 353px;
  left: 0px;
  width: 320px;
  height: 189px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Dynamic_Panel_1 {
  position: absolute;
  top: 521px;
  left: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Panel_1 {
  width: 320px;
  height: 47px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Header-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 64px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Rich_text_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 63px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_87 {
  position: absolute;
  top: 28px;
  left: 91px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_87 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_87 span#rtr-s-Label_87_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Group_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 20px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Rectangle_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_422 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_422 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_422 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_422 span#rtr-s-Label_422_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_431 {
  position: absolute;
  top: 5px;
  left: 253px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_431 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_431 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_431 span#rtr-s-Label_431_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_35 {
  position: absolute;
  top: 0px;
  left: 121px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_35 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_35 span#rtr-s-Label_35_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Group_35 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_12 .content {
  width: 6px;
  height: 6px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_12 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #shapewrapper-s-Ellipse_12 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_61 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_61 .content {
  width: 6px;
  height: 6px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_61 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #shapewrapper-s-Ellipse_61 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #shapewrapper-s-Ellipse_61 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #shapewrapper-s-Ellipse_61 span#rtr-s-Ellipse_61_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_62 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_62 .content {
  width: 6px;
  height: 6px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_62 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #shapewrapper-s-Ellipse_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #shapewrapper-s-Ellipse_62 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #shapewrapper-s-Ellipse_62 span#rtr-s-Ellipse_62_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_63 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_63 .content {
  width: 6px;
  height: 6px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_63 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #shapewrapper-s-Ellipse_63 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #shapewrapper-s-Ellipse_63 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #shapewrapper-s-Ellipse_63 span#rtr-s-Ellipse_63_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_64 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_64 .content {
  width: 6px;
  height: 6px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_64 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #shapewrapper-s-Ellipse_64 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #shapewrapper-s-Ellipse_64 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #shapewrapper-s-Ellipse_64 span#rtr-s-Ellipse_64_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_448 {
  position: absolute;
  top: 0px;
  left: 288px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_448 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_448 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_448 span#rtr-s-Label_448_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_71 {
  position: absolute;
  top: 0px;
  left: 251px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_71 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_71 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_71 span#rtr-s-Label_71_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_286 {
  position: absolute;
  top: 525px;
  left: 36px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_286 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_286 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_286 span#rtr-s-Label_286_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_278 {
  position: absolute;
  top: 525px;
  left: 260px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_278 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_278 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_278 span#rtr-s-Label_278_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_106 {
  position: absolute;
  top: 525px;
  left: 112px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_106 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_106 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_106 span#rtr-s-Label_106_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_1 {
  position: absolute;
  top: 552px;
  left: 37px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_1 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_1 span#rtr-s-Label_1_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_2 {
  position: absolute;
  top: 552px;
  left: 115px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 8.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_2 span#rtr-s-Label_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_3 {
  position: absolute;
  top: 552px;
  left: 267px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_3 span#rtr-s-Label_3_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_4 {
  position: absolute;
  top: 552px;
  left: 190px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_4 span#rtr-s-Label_4_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_181 {
  position: absolute;
  top: 525px;
  left: 188px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_181 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_181 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_181 span#rtr-s-Label_181_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Image_2 {
  position: absolute;
  top: 69px;
  left: 0px;
  width: 320px;
  height: 186px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_5 {
  position: absolute;
  top: 264px;
  left: 38px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_5 span#rtr-s-Label_5_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_6 {
  position: absolute;
  top: 279px;
  left: 38px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 6.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 6.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_6 span#rtr-s-Label_6_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_21 {
  position: absolute;
  top: 257px;
  left: 5px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_21 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_21 span#rtr-s-Label_21_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 26.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_182 {
  position: absolute;
  top: 294px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_182 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_182 span {
  color: #1E4DFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 10.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_182 span#rtr-s-Label_182_0 {
  color: #1E4DFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_8 {
  position: absolute;
  top: 295px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_8 span#rtr-s-Label_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Line_1 {
  position: absolute;
  top: 310px;
  left: 0px;
  width: 319px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Line_2 {
  position: absolute;
  top: 343px;
  left: 0px;
  width: 319px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Line_3 {
  position: absolute;
  top: 328px;
  left: 143px;
  width: 34px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Button_1 {
  position: absolute;
  top: 313px;
  left: 0px;
  width: 160px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Button_1 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Button_1 span#rtr-s-Button_1_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_124 {
  position: absolute;
  top: 319px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_124 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_124 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_124 span#rtr-s-Label_124_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Button_2 {
  position: absolute;
  top: 313px;
  left: 167px;
  width: 151px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Button_2 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Button_2 span#rtr-s-Button_2_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_83 {
  position: absolute;
  top: 30px;
  left: 286px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_83 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_83 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_83 span#rtr-s-Label_83_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}