#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_422 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_431 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_61 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_62 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_63 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Ellipse_64 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_448 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_71 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_286 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_278 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_181 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_182 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_124 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac #s-Label_83 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-be6d40ff-3dc2-4b7f-9327-0baa97c4d0ac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}