#s-c02ddc71-9fda-4633-a8be-111d895a3e12 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 63px;
  left: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Panel_2 {
  width: 320px;
  height: 459px;
  background-color: #F3F3F3;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 521px;
  left: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Panel_1 {
  width: 320px;
  height: 47px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Header-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 64px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Rich_text_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 63px;
  background-color: #EFEFEF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_87 {
  position: absolute;
  top: 28px;
  left: 91px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_87 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_87 span#rtr-s-Label_87_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Group_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 20px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 20px;
  background-color: #EFEFEF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Rectangle_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_422 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_422 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_422 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_422 span#rtr-s-Label_422_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_431 {
  position: absolute;
  top: 5px;
  left: 253px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_431 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_431 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_431 span#rtr-s-Label_431_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_35 {
  position: absolute;
  top: 0px;
  left: 121px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_35 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_35 span#rtr-s-Label_35_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Group_35 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Ellipse_12 .content {
  width: 6px;
  height: 6px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Ellipse_12 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #shapewrapper-s-Ellipse_12 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Ellipse_61 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Ellipse_61 .content {
  width: 6px;
  height: 6px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Ellipse_61 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #shapewrapper-s-Ellipse_61 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #shapewrapper-s-Ellipse_61 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #shapewrapper-s-Ellipse_61 span#rtr-s-Ellipse_61_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Ellipse_62 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Ellipse_62 .content {
  width: 6px;
  height: 6px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Ellipse_62 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #shapewrapper-s-Ellipse_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #shapewrapper-s-Ellipse_62 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #shapewrapper-s-Ellipse_62 span#rtr-s-Ellipse_62_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Ellipse_63 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Ellipse_63 .content {
  width: 6px;
  height: 6px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Ellipse_63 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #shapewrapper-s-Ellipse_63 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #shapewrapper-s-Ellipse_63 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #shapewrapper-s-Ellipse_63 span#rtr-s-Ellipse_63_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Ellipse_64 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Ellipse_64 .content {
  width: 6px;
  height: 6px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Ellipse_64 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #shapewrapper-s-Ellipse_64 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #shapewrapper-s-Ellipse_64 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #shapewrapper-s-Ellipse_64 span#rtr-s-Ellipse_64_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_448 {
  position: absolute;
  top: 0px;
  left: 288px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_448 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_448 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_448 span#rtr-s-Label_448_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_71 {
  position: absolute;
  top: 0px;
  left: 251px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_71 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_71 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_71 span#rtr-s-Label_71_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_286 {
  position: absolute;
  top: 525px;
  left: 36px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_286 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_286 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_286 span#rtr-s-Label_286_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_278 {
  position: absolute;
  top: 525px;
  left: 260px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_278 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_278 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_278 span#rtr-s-Label_278_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_106 {
  position: absolute;
  top: 525px;
  left: 112px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_106 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_106 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_106 span#rtr-s-Label_106_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_1 {
  position: absolute;
  top: 552px;
  left: 38px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_1 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_2 {
  position: absolute;
  top: 552px;
  left: 114px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_2 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_3 {
  position: absolute;
  top: 552px;
  left: 267px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_4 {
  position: absolute;
  top: 552px;
  left: 190px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 8.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_181 {
  position: absolute;
  top: 525px;
  left: 188px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_181 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_181 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_181 span#rtr-s-Label_181_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 109px;
  left: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Panel_3 {
  width: 320px;
  height: 185px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_1 {
  position: absolute;
  top: 124px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_1 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 10.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_182 {
  position: absolute;
  top: 124px;
  left: 228px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_182 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_182 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_182 span#rtr-s-Label_182_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_2 {
  position: absolute;
  top: 124px;
  left: 251px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_2 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 10.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_3 {
  position: absolute;
  top: 156px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: ITF Devanagari,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: ITF Devanagari,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: ITF Devanagari,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_4 {
  position: absolute;
  top: 198px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: ITF Devanagari,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: ITF Devanagari,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: ITF Devanagari,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_4 span#rtr-s-Text_4_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: ITF Devanagari,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Line_1 {
  position: absolute;
  top: 250px;
  left: 8px;
  width: 302px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_21 {
  position: absolute;
  top: 259px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_21 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_21 span#rtr-s-Label_21_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_5 {
  position: absolute;
  top: 262px;
  left: 36px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_6 {
  position: absolute;
  top: 261px;
  left: 228px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_6 span {
  color: #CE9329;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #CE9329;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 306px;
  left: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Panel_4 {
  width: 320px;
  height: 214px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_7 {
  position: absolute;
  top: 318px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_7 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 10.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_183 {
  position: absolute;
  top: 318px;
  left: 228px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_183 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_183 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_183 span#rtr-s-Label_183_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_8 {
  position: absolute;
  top: 318px;
  left: 251px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_8 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 10.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_9 {
  position: absolute;
  top: 350px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: ITF Devanagari,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: ITF Devanagari,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: ITF Devanagari,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_9 span#rtr-s-Text_9_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: ITF Devanagari,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_10 {
  position: absolute;
  top: 392px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: ITF Devanagari,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_10 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: ITF Devanagari,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: ITF Devanagari,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_10 span#rtr-s-Text_10_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: ITF Devanagari,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Line_3 {
  position: absolute;
  top: 452px;
  left: 8px;
  width: 302px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_22 {
  position: absolute;
  top: 466px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_22 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_22 span#rtr-s-Label_22_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_11 {
  position: absolute;
  top: 469px;
  left: 36px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_11 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Line_4 {
  position: absolute;
  top: 493px;
  left: 0px;
  width: 320px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_72 {
  position: absolute;
  top: 30px;
  left: 286px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_72 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_72 span {
  color: #0000FF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_72 span#rtr-s-Label_72_0 {
  color: #0000FF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_197 {
  position: absolute;
  top: 256px;
  left: 100px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_197 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_197 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_197 span#rtr-s-Label_197_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_124 {
  position: absolute;
  top: 257px;
  left: 268px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_124 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_124 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_124 span#rtr-s-Label_124_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Dynamic_Panel_5 {
  position: absolute;
  top: 63px;
  left: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Panel_5 {
  width: 320px;
  height: 45px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_12 {
  position: absolute;
  top: 75px;
  left: 44px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_12 span {
  color: #CE9329;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #CE9329;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_13 {
  position: absolute;
  top: 75px;
  left: 109px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_13 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_14 {
  position: absolute;
  top: 75px;
  left: 190px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_14 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_15 {
  position: absolute;
  top: 75px;
  left: 256px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_15 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Line_2 {
  position: absolute;
  top: 106px;
  left: 44px;
  width: 32px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CE9329;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_16 {
  position: absolute;
  top: 468px;
  left: 228px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_16 span {
  color: #CE9329;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #CE9329;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_198 {
  position: absolute;
  top: 463px;
  left: 100px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_198 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_198 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_198 span#rtr-s-Label_198_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_125 {
  position: absolute;
  top: 464px;
  left: 268px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_125 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_125 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 #s-Label_125 span#rtr-s-Label_125_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c02ddc71-9fda-4633-a8be-111d895a3e12 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}