#s-e1234ac4-683b-4410-9c7f-edd50239bc22 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Maps-Screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 568px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Image_30 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 568px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Group_260 {
  position: absolute;
  top: 199px;
  left: 135px;
  width: 133px;
  height: 125px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_255 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 133px;
  height: 125px;
  position: absolute;
  overflow: hidden;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_255 .content {
  width: 133px;
  height: 125px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_255 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 133px;
  height: 125px;
  background-color: #157EFB;
  background-image: none;
  opacity: 0.3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_255 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_255 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_255 span#rtr-s-Ellipse_255_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_256 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 17px;
  height: 17px;
  position: absolute;
  overflow: hidden;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_256 .content {
  width: 17px;
  height: 17px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_256 {
  position: absolute;
  top: 57px;
  left: 58px;
  width: 17px;
  height: 17px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_256 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_256 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_256 span#rtr-s-Ellipse_256_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 335px;
  left: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Panel_1 {
  width: 318px;
  height: 231px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Header-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 64px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Rich_text_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 63px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_87 {
  position: absolute;
  top: 28px;
  left: 91px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_87 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 13.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_87 span#rtr-s-Label_87_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Group_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 19px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Rectangle_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_422 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_422 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_422 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_422 span#rtr-s-Label_422_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_431 {
  position: absolute;
  top: 4px;
  left: 253px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_431 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_431 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_431 span#rtr-s-Label_431_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_35 {
  position: absolute;
  top: 0px;
  left: 121px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_35 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_35 span#rtr-s-Label_35_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Group_35 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_12 .content {
  width: 6px;
  height: 6px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_12 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_12 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_61 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_61 .content {
  width: 6px;
  height: 6px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_61 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_61 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_61 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_61 span#rtr-s-Ellipse_61_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_62 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_62 .content {
  width: 6px;
  height: 6px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_62 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_62 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_62 span#rtr-s-Ellipse_62_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_63 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_63 .content {
  width: 6px;
  height: 6px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_63 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_63 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_63 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_63 span#rtr-s-Ellipse_63_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_64 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_64 .content {
  width: 6px;
  height: 6px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Ellipse_64 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_64 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_64 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #shapewrapper-s-Ellipse_64 span#rtr-s-Ellipse_64_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_448 {
  position: absolute;
  top: 0px;
  left: 288px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_448 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_448 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_448 span#rtr-s-Label_448_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_71 {
  position: absolute;
  top: 0px;
  left: 251px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_71 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_71 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_71 span#rtr-s-Label_71_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_9 {
  position: absolute;
  top: 27px;
  left: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_9 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_9 span#rtr-s-Label_9_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Search-bar-grey {
  position: absolute;
  top: 63px;
  left: 0px;
  width: 320px;
  height: 44px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Group_64 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 44px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Rectangle_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 44px;
  background-color: #F6F6F6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Input_8 {
  position: absolute;
  top: 7px;
  left: 8px;
  padding-left: 25px;
  width: 275px;
  height: 22px;
  background-color: #EAEAEA;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EAEAEA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EAEAEA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EAEAEA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EAEAEA;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  box-shadow: none;
  text-shadow: none;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Input_8 input {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_53 {
  position: absolute;
  top: 15px;
  left: 131px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_53 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_53 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_53 span#rtr-s-Label_53_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Line_1 {
  position: absolute;
  top: 384px;
  left: 15px;
  width: 302px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_1 {
  position: absolute;
  top: 347px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_290 {
  position: absolute;
  top: 348px;
  left: 291px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_290 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_290 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_290 span#rtr-s-Label_290_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_2 {
  position: absolute;
  top: 365px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_2 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Line_2 {
  position: absolute;
  top: 434px;
  left: 15px;
  width: 302px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_3 {
  position: absolute;
  top: 397px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_291 {
  position: absolute;
  top: 398px;
  left: 291px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_291 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_291 span#rtr-s-Label_291_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_4 {
  position: absolute;
  top: 415px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Line_3 {
  position: absolute;
  top: 487px;
  left: 15px;
  width: 302px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_5 {
  position: absolute;
  top: 450px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_292 {
  position: absolute;
  top: 451px;
  left: 291px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_292 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_292 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_292 span#rtr-s-Label_292_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_6 {
  position: absolute;
  top: 468px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_6 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Line_4 {
  position: absolute;
  top: 543px;
  left: 15px;
  width: 302px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_7 {
  position: absolute;
  top: 506px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_7 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_293 {
  position: absolute;
  top: 507px;
  left: 291px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_293 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_293 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_293 span#rtr-s-Label_293_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_8 {
  position: absolute;
  top: 524px;
  left: 22px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_8 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 #s-Label_8 span#rtr-s-Label_8_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e1234ac4-683b-4410-9c7f-edd50239bc22 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}