#s-e2845132-b7b4-4a1e-8690-70d45c000a9d #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2845132-b7b4-4a1e-8690-70d45c000a9d #s-Button-black {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2845132-b7b4-4a1e-8690-70d45c000a9d #s-Check-box_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2845132-b7b4-4a1e-8690-70d45c000a9d #s-Button-black_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e2845132-b7b4-4a1e-8690-70d45c000a9d #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e2845132-b7b4-4a1e-8690-70d45c000a9d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}