#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Label_422 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Label_431 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Ellipse_61 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Ellipse_62 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Ellipse_63 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Ellipse_64 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Label_448 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Label_71 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Rectangle_25 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Label_61 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e6288c7b-e104-4099-b123-a151fc34c73c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}