#s-e8129a9a-c5e8-435f-89f3-10e62626a21f > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Dynamic_Panel_2 {
  position: absolute;
  top: 63px;
  left: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Panel_2 {
  width: 320px;
  height: 459px;
  background-color: #F3F3F3;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Dynamic_Panel_3 {
  position: absolute;
  top: 63px;
  left: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Panel_3 {
  width: 320px;
  height: 231px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Dynamic_Panel_4 {
  position: absolute;
  top: 296px;
  left: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Panel_4 {
  width: 320px;
  height: 220px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Header-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 64px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Rich_text_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 63px;
  background-color: #EFEFEF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_87 {
  position: absolute;
  top: 28px;
  left: 91px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_87 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_87 span#rtr-s-Label_87_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_87 span#rtr-s-Label_87_1 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Group_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 20px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 20px;
  background-color: #EFEFEF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Rectangle_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_422 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_422 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_422 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_422 span#rtr-s-Label_422_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_431 {
  position: absolute;
  top: 5px;
  left: 253px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_431 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_431 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_431 span#rtr-s-Label_431_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_35 {
  position: absolute;
  top: 0px;
  left: 121px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_35 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_35 span#rtr-s-Label_35_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Group_35 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Ellipse_12 .content {
  width: 6px;
  height: 6px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Ellipse_12 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #shapewrapper-s-Ellipse_12 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Ellipse_61 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Ellipse_61 .content {
  width: 6px;
  height: 6px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Ellipse_61 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #shapewrapper-s-Ellipse_61 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #shapewrapper-s-Ellipse_61 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #shapewrapper-s-Ellipse_61 span#rtr-s-Ellipse_61_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Ellipse_62 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Ellipse_62 .content {
  width: 6px;
  height: 6px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Ellipse_62 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #shapewrapper-s-Ellipse_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #shapewrapper-s-Ellipse_62 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #shapewrapper-s-Ellipse_62 span#rtr-s-Ellipse_62_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Ellipse_63 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Ellipse_63 .content {
  width: 6px;
  height: 6px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Ellipse_63 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #shapewrapper-s-Ellipse_63 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #shapewrapper-s-Ellipse_63 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #shapewrapper-s-Ellipse_63 span#rtr-s-Ellipse_63_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Ellipse_64 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Ellipse_64 .content {
  width: 6px;
  height: 6px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Ellipse_64 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #shapewrapper-s-Ellipse_64 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #shapewrapper-s-Ellipse_64 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #shapewrapper-s-Ellipse_64 span#rtr-s-Ellipse_64_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_448 {
  position: absolute;
  top: 0px;
  left: 288px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_448 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_448 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_448 span#rtr-s-Label_448_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_71 {
  position: absolute;
  top: 0px;
  left: 251px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_71 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_71 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_71 span#rtr-s-Label_71_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_1 {
  position: absolute;
  top: 70px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_1 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 10.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_1 span#rtr-s-Text_1_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_182 {
  position: absolute;
  top: 70px;
  left: 228px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_182 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_182 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_182 span#rtr-s-Label_182_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_2 {
  position: absolute;
  top: 70px;
  left: 251px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_2 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 10.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_2 span#rtr-s-Text_2_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_3 {
  position: absolute;
  top: 97px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: ITF Devanagari,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: ITF Devanagari,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: ITF Devanagari,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_4 {
  position: absolute;
  top: 139px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: ITF Devanagari,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: ITF Devanagari,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: ITF Devanagari,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_4 span#rtr-s-Text_4_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: ITF Devanagari,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Line_1 {
  position: absolute;
  top: 250px;
  left: 8px;
  width: 302px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_21 {
  position: absolute;
  top: 259px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_21 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_21 span#rtr-s-Label_21_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_5 {
  position: absolute;
  top: 262px;
  left: 36px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_6 {
  position: absolute;
  top: 261px;
  left: 228px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_6 span {
  color: #CE9329;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_6 span#rtr-s-Text_6_0 {
  color: #CE9329;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Line_3 {
  position: absolute;
  top: 425px;
  left: 8px;
  width: 302px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_11 {
  position: absolute;
  top: 346px;
  left: 42px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_11 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_11 span#rtr-s-Text_11_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_72 {
  position: absolute;
  top: 37px;
  left: 275px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_72 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_72 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_72 span#rtr-s-Label_72_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_197 {
  position: absolute;
  top: 256px;
  left: 100px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_197 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_197 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_197 span#rtr-s-Label_197_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_124 {
  position: absolute;
  top: 207px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_124 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_124 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_124 span#rtr-s-Label_124_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_291 {
  position: absolute;
  top: 33px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_291 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_291 span#rtr-s-Label_291_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_23 {
  position: absolute;
  top: 207px;
  left: 46px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_23 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_23 span#rtr-s-Label_23_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_24 {
  position: absolute;
  top: 207px;
  left: 86px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_24 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_24 span#rtr-s-Label_24_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_25 {
  position: absolute;
  top: 207px;
  left: 119px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_25 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_25 span#rtr-s-Label_25_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_126 {
  position: absolute;
  top: 256px;
  left: 267px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_126 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_126 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_126 span#rtr-s-Label_126_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_7 {
  position: absolute;
  top: 306px;
  left: 128px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_7 span#rtr-s-Text_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Line_2 {
  position: absolute;
  top: 332px;
  left: 0px;
  width: 320px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_26 {
  position: absolute;
  top: 347px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_26 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_26 span#rtr-s-Label_26_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_12 {
  position: absolute;
  top: 366px;
  left: 42px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 6.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_12 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 6.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_12 span#rtr-s-Text_12_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_13 {
  position: absolute;
  top: 382px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_13 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_13 span#rtr-s-Text_13_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_13 span#rtr-s-Text_13_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Line_4 {
  position: absolute;
  top: 515px;
  left: 8px;
  width: 302px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_14 {
  position: absolute;
  top: 436px;
  left: 42px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_14 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_14 span#rtr-s-Text_14_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_27 {
  position: absolute;
  top: 437px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_27 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Label_27 span#rtr-s-Label_27_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_15 {
  position: absolute;
  top: 456px;
  left: 42px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 6.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_15 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 6.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_15 span#rtr-s-Text_15_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 6.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_16 {
  position: absolute;
  top: 472px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_16 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_16 span#rtr-s-Text_16_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Text_16 span#rtr-s-Text_16_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Input-text {
  position: absolute;
  top: 523px;
  left: 7px;
  padding-left: 18px;
  width: 218px;
  height: 34px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  box-shadow: none;
  text-shadow: none;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Input-text .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Input-text input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Button_1 {
  position: absolute;
  top: 529px;
  left: 255px;
  width: 49px;
  height: 23px;
  background-color: #3D6BFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3D6BFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3D6BFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3D6BFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3D6BFF;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Button_1 span {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f #s-Button_1 span#rtr-s-Button_1_0 {
  color: #D9D9D9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e8129a9a-c5e8-435f-89f3-10e62626a21f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}