#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d #s-Label_275 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e83abd4a-1ecc-4169-b7a6-40714d27188d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}