#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_61 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Rectangle_25 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_422 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_431 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Ellipse_61 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Ellipse_62 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Ellipse_63 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Ellipse_64 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_448 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_71 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_286 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_278 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 117px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Label_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  width: 116px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e90152cf-73cc-48de-884b-1453606eedec #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e90152cf-73cc-48de-884b-1453606eedec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}