#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_186 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_182 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_293 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_294 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_273 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_275 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}