#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Dynamic_Panel_4 {
  position: absolute;
  top: 63px;
  left: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Panel_4 {
  width: 320px;
  height: 505px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Header-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 64px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Rich_text_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 63px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_87 {
  position: absolute;
  top: 25px;
  left: 91px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_87 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_87 span#rtr-s-Label_87_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Group_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 19px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Rectangle_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_422 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_422 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_422 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_422 span#rtr-s-Label_422_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_431 {
  position: absolute;
  top: 4px;
  left: 253px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_431 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_431 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_431 span#rtr-s-Label_431_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_35 {
  position: absolute;
  top: 0px;
  left: 121px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_35 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_35 span#rtr-s-Label_35_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Group_35 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_12 .content {
  width: 6px;
  height: 6px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_12 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #shapewrapper-s-Ellipse_12 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_61 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_61 .content {
  width: 6px;
  height: 6px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_61 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #shapewrapper-s-Ellipse_61 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #shapewrapper-s-Ellipse_61 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #shapewrapper-s-Ellipse_61 span#rtr-s-Ellipse_61_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_62 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_62 .content {
  width: 6px;
  height: 6px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_62 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #shapewrapper-s-Ellipse_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #shapewrapper-s-Ellipse_62 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #shapewrapper-s-Ellipse_62 span#rtr-s-Ellipse_62_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_63 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_63 .content {
  width: 6px;
  height: 6px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_63 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #shapewrapper-s-Ellipse_63 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #shapewrapper-s-Ellipse_63 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #shapewrapper-s-Ellipse_63 span#rtr-s-Ellipse_63_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_64 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_64 .content {
  width: 6px;
  height: 6px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Ellipse_64 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #shapewrapper-s-Ellipse_64 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #shapewrapper-s-Ellipse_64 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #shapewrapper-s-Ellipse_64 span#rtr-s-Ellipse_64_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_448 {
  position: absolute;
  top: 0px;
  left: 288px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_448 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_448 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_448 span#rtr-s-Label_448_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_71 {
  position: absolute;
  top: 0px;
  left: 251px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_71 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_71 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_71 span#rtr-s-Label_71_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_1 {
  position: absolute;
  top: 26px;
  left: 257px;
  width: 55px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_1 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_1 span#rtr-s-Button_1_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_9 {
  position: absolute;
  top: 27px;
  left: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_9 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_9 span#rtr-s-Label_9_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Dynamic_Panel_1 {
  position: absolute;
  top: 63px;
  left: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Panel_1 {
  width: 318px;
  height: 164px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Line_1 {
  position: absolute;
  top: 105px;
  left: 51px;
  width: 269px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_290 {
  position: absolute;
  top: 72px;
  left: 285px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_290 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_290 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_290 span#rtr-s-Label_290_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_186 {
  position: absolute;
  top: 73px;
  left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_186 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_186 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_186 span#rtr-s-Label_186_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_1 {
  position: absolute;
  top: 63px;
  left: 51px;
  width: 236px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_1 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_1 span#rtr-s-Label_1_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_13 {
  position: absolute;
  top: 113px;
  left: 13px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_13 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_13 span#rtr-s-Label_13_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_182 {
  position: absolute;
  top: 154px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_182 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_182 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_182 span#rtr-s-Label_182_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Line_2 {
  position: absolute;
  top: 147px;
  left: 51px;
  width: 269px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_291 {
  position: absolute;
  top: 161px;
  left: 285px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_291 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_291 span#rtr-s-Label_291_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_292 {
  position: absolute;
  top: 112px;
  left: 285px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_292 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_292 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_292 span#rtr-s-Label_292_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Input-text {
  position: absolute;
  top: 432px;
  left: 0px;
  padding-left: 15px;
  width: 303px;
  height: 134px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  box-shadow: none;
  text-shadow: none;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Input-text .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Input-text input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_2 {
  position: absolute;
  top: 409px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_2 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_2 span#rtr-s-Label_2_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_3 {
  position: absolute;
  top: 105px;
  left: 51px;
  width: 235px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_3 span#rtr-s-Label_3_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_4 {
  position: absolute;
  top: 147px;
  left: 51px;
  width: 269px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_4 span#rtr-s-Label_4_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Dynamic_Panel_2 {
  position: absolute;
  top: 408px;
  left: -319px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Panel_2 {
  width: 320px;
  height: 160px;
  background-color: #D9D9D9;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_8 {
  position: absolute;
  top: 110px;
  left: 138px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_8 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_8 span#rtr-s-Label_8_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_10 {
  position: absolute;
  top: 134px;
  left: 127px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_10 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_10 span#rtr-s-Label_10_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Line_3 {
  position: absolute;
  top: 58px;
  left: 1px;
  width: 318px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_5 {
  position: absolute;
  top: 72px;
  left: 136px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_5 span#rtr-s-Label_5_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Line_4 {
  position: absolute;
  top: 100px;
  left: 1px;
  width: 318px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_6 {
  position: absolute;
  top: 33px;
  left: 138px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_6 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_6 span#rtr-s-Label_6_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_7 {
  position: absolute;
  top: 15px;
  left: 141px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_7 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_7 span#rtr-s-Label_7_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Dynamic_Panel_3 {
  position: absolute;
  top: 267px;
  left: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Panel_3 {
  width: 318px;
  height: 136px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Image_2 {
  position: absolute;
  top: 275px;
  left: 7px;
  width: 56px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_121 {
  position: absolute;
  top: 308px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_121 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_121 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 16.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_121 span#rtr-s-Label_121_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_11 {
  position: absolute;
  top: 290px;
  left: 75px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_11 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_11 span#rtr-s-Label_11_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_12 {
  position: absolute;
  top: 307px;
  left: 75px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_12 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_12 span#rtr-s-Label_12_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_293 {
  position: absolute;
  top: 292px;
  left: 286px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_293 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_293 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_293 span#rtr-s-Label_293_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Line_5 {
  position: absolute;
  top: 335px;
  left: 51px;
  width: 269px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Image_3 {
  position: absolute;
  top: 341px;
  left: 7px;
  width: 56px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_69 {
  position: absolute;
  top: 375px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_69 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_69 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_69 span#rtr-s-Label_69_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_14 {
  position: absolute;
  top: 353px;
  left: 75px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_14 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_14 span#rtr-s-Label_14_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_15 {
  position: absolute;
  top: 370px;
  left: 75px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_15 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_15 span#rtr-s-Label_15_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_294 {
  position: absolute;
  top: 360px;
  left: 285px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_294 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_294 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_294 span#rtr-s-Label_294_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Line_6 {
  position: absolute;
  top: 187px;
  left: 51px;
  width: 269px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_273 {
  position: absolute;
  top: 195px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_273 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_273 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_273 span#rtr-s-Label_273_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Input-text_1 {
  position: absolute;
  top: 188px;
  left: 39px;
  padding-left: 15px;
  width: 263px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Input-text_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Input-text_1 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_275 {
  position: absolute;
  top: 28px;
  left: 38px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_275 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_275 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Label_275 span#rtr-s-Label_275_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Group_1 {
  position: absolute;
  top: 355px;
  left: 319px;
  width: 320px;
  height: 213px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Dynamic_Panel_5 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Panel_5 {
  width: 320px;
  height: 213px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Line_7 {
  position: absolute;
  top: 36px;
  left: 0px;
  width: 320px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_4 {
  position: absolute;
  top: 9px;
  left: 15px;
  width: 142px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_4 span {
  color: #CE9329;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_4 span#rtr-s-Button_4_0 {
  color: #CE9329;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_5 {
  position: absolute;
  top: 8px;
  left: 165px;
  width: 143px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_5 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_5 span {
  color: #CE9329;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_5 span#rtr-s-Button_5_0 {
  color: #CE9329;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Line_8 {
  position: absolute;
  top: 109px;
  left: 0px;
  width: 320px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_4 {
  position: absolute;
  top: 114px;
  left: 70px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_5 {
  position: absolute;
  top: 114px;
  left: 205px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_6 {
  position: absolute;
  top: 114px;
  left: 255px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_6 span#rtr-s-Text_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_7 {
  position: absolute;
  top: 79px;
  left: 205px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_7 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_7 span#rtr-s-Text_7_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_8 {
  position: absolute;
  top: 79px;
  left: 255px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_8 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_8 span#rtr-s-Text_8_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_9 {
  position: absolute;
  top: 79px;
  left: 38px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_9 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_9 span#rtr-s-Text_9_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_10 {
  position: absolute;
  top: 144px;
  left: 205px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_10 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_10 span#rtr-s-Text_10_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_11 {
  position: absolute;
  top: 144px;
  left: 255px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_11 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Text_11 span#rtr-s-Text_11_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_2 {
  position: absolute;
  top: 267px;
  left: 0px;
  width: 320px;
  height: 69px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_2 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_2 span#rtr-s-Button_2_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_3 {
  position: absolute;
  top: 334px;
  left: 0px;
  width: 320px;
  height: 69px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_3 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d #s-Button_3 span#rtr-s-Button_3_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f30b580d-2fb6-4e69-8695-5e32ffb4e70d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}