<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Genealogy</display-name>
  <servlet>
    <servlet-name>Genealogy REST Service</servlet-name>
    <servlet-class>com.maxiaohua.genealogy.fw.web.rest.GenealogyRestServlet</servlet-class>
    <init-param>
      <param-name>applicationConfigLocation</param-name>
      <param-value>/WEB-INF/resources.properties</param-value>
    </init-param>
    <init-param>
      <param-name>propertiesLocation</param-name>
      <param-value>/WEB-INF/tasks.properties</param-value>
    </init-param>
    <init-param>
      <param-name>systemContextLocation</param-name>
      <param-value>systemContext.xml</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Genealogy REST Service</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>Datasource connection to GenealogyDataSourceRefer</description>
    <res-ref-name>jdbc/GenealogyDataSourceRefer</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <resource-ref>
    <description>Datasource connection to GenealogyDataSource</description>
    <res-ref-name>jdbc/GenealogyDataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>