<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppFirstRun</key>
	<integer>1</integer>
	<key>IsLogin</key>
	<integer>1</integer>
	<key>BaseURL</key>
	<string>http://localhost:8080/genealogy/app/</string>
	<key>CoverImage</key>
	<array>
		<string>img_index_01txt</string>
		<string>img_index_02txt</string>
		<string>img_index_03txt</string>
	</array>
	<key>BackgroundImage</key>
	<array>
		<string>img_index_01bg</string>
		<string>img_index_02bg</string>
		<string>img_index_03bg</string>
	</array>
</dict>
</plist>
