<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppFirstRun</key>
	<integer>1</integer>
	<key>IsLogin</key>
	<integer>1</integer>
	<key>GuidePic</key>
	<array>
		<string>欢1.png</string>
		<string>欢2.png</string>
		<string>欢3.png</string>
		<string>欢4新.png</string>
	</array>
</dict>
</plist>
